@model IEnumerable<Cldv_Poe_Submission.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Events</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="card p-3">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDescription)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDescription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EventId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.EventId" class="btn btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.EventId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

